body {
  padding: 30px;
  width: 800px;
  margin: 0 auto;
  background-color: #f0f8ff;
}

.buttons {
  padding: 30px;
  margin: 10px;
  border: 1px solid black;
  background-color: #778899;
}

h1 {
  font-family: Garamond;
  font-size: 35px;
  color: black;
  text-align: center;
}

p {
  font-family: Garamond;
  font-size: 25px;
  color: black;
  text-align: center;
}

span {
  font-family: Garamond;
  font-size: 20px;
  color: black;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 5px;
    width: 280px;
    margin-top: 30px;
  }

  .buttons {
    padding: 5px;
    margin: 1px;
    padding-bottom: 25px;
    border: 0.1px solid black;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-family: Garamond;
    font-size: 16px;
    color: black;
    text-align: center;
  }

  span {
    font-family: Garamond;
    font-size: 15px;
  }
}
